// :root {
//   --background: #1d0136;
//   --black: #000000;
//   --white: #ffffff;
//   --divider: #b0b0b0;
//   --line: #382848;
//   --yellow: #ffff00;
//   --purple: #7700c1;
//   --gray: #7d7d7d;

//   --textLink: #c373fc;
//   --textCancel: #f02a4f;
//   --textDefault: #ffffff;

//   --btnDelete: #362942;
//   --btnCreate: #1d924c;
//   --bntCancel: #390931;

//   --hoverLink: #a322ff;
//   --hoverCreate: #24b35d;
//   --hoverCancel: #f72b50;
//   --hoverDelete: #6e6e6e;

//   --iconDelete: #850019;
//   --deleteHover: #f90431;
//   --iconEdit: #857c00;
//   --editHover: #ffff00;
// }

.layout-admin {
  .admin-header {
    height: 80px;
    background: #1d0136;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .anticon-menu-fold {
      color: #ffffff;
    }

    .anticon-menu-unfold {
      color: #ffffff;
    }

    .ant-space-item {
      color: #ffffff;
    }
  }

  .ant-layout-sider {
    background: #1d0136;
  }

  .ant-menu-light {
    background: #1d0136;
    color: #ffffff;

    .ant-menu-item-selected {
      background: #7700c1;
      color: #ffffff;
    }
  }

  .ant-menu-item {
    color: #ffffff;

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-submenu-title {

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-item-icon {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-submenu-arrow {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-title-content {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-menu-submenu-title {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-layout-sider-trigger {
    background: #33065b;
  }

  .ant-layout-content {
    background: #090111;

    .manage-common {
      border-radius: 20px;
      margin: 42px;

      .ant-col-24 {

        .ant-form-item-label>label {
          color: #ffffff;
        }

        .ant-input {
          background: #090111;
          border-color: #251a2f;
          color: #ffffff;

          &::placeholder {
            color: #7d7d7d;
          }

          &:focus {
            box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
          }
        }

        .ant-btn-primary {
          background: #7700c1;
          transition: 0.3s ease-in;
          box-shadow: none;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            background: #50006c;
          }
        }

        .ant-btn-default {
          box-shadow: none;
          border: none;
          background: #362942;
          border-color: #ffffff;
          color: #ffffff;
          transition: 0.3s ease-in;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            background: #6e6e6e;
          }
        }

        .ant-btn-ghost {
          color: #ffffff;
          font-size: 16px;
        }

        .ant-btn-dashed {
          background: #1d924c;
          border-style: none;
          color: #ffffff;
          transition: 0.3s ease-in;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            color: #ffffff;
            background: #24b35d;
          }
        }
      }

      .ant-table {
        background: #1d0136;
        margin: 10px;


        .ant-table-thead>tr>th {
          background: #1d0136;
          border: none;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          border-bottom: 1px solid #463655;
        }

        .ant-table-tbody>tr>td {
          border-bottom: none;
        }

        .ant-table-thead>tr>th:not(:last-child)::before {
          background-color: #1d0136;
        }

        .ant-table-column-sorter {
          color: #ffffff;
        }

        .ant-table-tbody>tr>td {
          color: #ffffff;
          background: #1d0136;
        }

        .ant-table-row:hover>td {
          background: #2f0157;
        }

        .ant-table-column-sorter-up.active {
          color: #7700c1;
        }

        .ant-table-column-sorter-down.active {
          color: #7700c1;
        }
      }

      .ant-pagination-total-text {
        color: #ffffff;
      }

      .ant-pagination-item-active {
        border-color: #7700c1;
        background: #7700c1;

        a {
          color: #ffffff;
        }
      }

      .ant-pagination-item-link {
        color: #ffffff;
      }

      .ant-pagination-item a {
        color: #ffffff;
      }

      .ant-pagination-item-ellipsis {
        color: #ffffff;
      }

      .ant-select-selector {
        color: #ffffff;
        background: #7700c1;
        border: none;
      }

      .ant-select-arrow {
        color: #ffffff;
      }
    }
  }

  .ant-select-single .ant-select-selection-item {
    color: #ffffff;
  }

  .ant-select-dropdown {
    background: #7700c1;

    .ant-select-item {
      color: #ffffff;
    }

    .ant-select-item-option-selected {
      background: #000000;
      color: #ffffff;
    }
  }

  .ant-empty-description {
    color: #ffffff;
    font-weight: 600;
  }

  .custom-input-search {
    background: #1d0136;
    border-radius: 20px;
  }

  .custom-table-list {
    width: 100vw;
    border-radius: 20px;
    margin: 20px 10px 0 10px;
    background: #1d0136;

    .custom-header-table {
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      font-size: 1.25rem;
      font-weight: 500;

      .header-table-button {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }

    .custom-pagination-table {
      padding: 10px;
    }

    .custom-link {
      color: #c373fc;
      transition: 0.2s ease-in;

      &:hover {
        color: #a322ff;
      }
    }

    .custom-icon-edit {
      color: #857c00;
      transition: 0.2s ease-in;

      &:hover {
        color: #ffff00;
      }
    }

    .custom-icon-delete {
      color: #850019;
      transition: 0.2s ease-in;

      &:hover {
        color: #f90431;
      }
    }
  }

  footer.ant-layout-footer {
    background: #090111;
    color: #ffffff;
  }
}
