.ant-modal-content {
  background-color: #1d0136 !important;

  .ant-modal-close {
    color: #7d7d7d;
    transition: 0.2s ease-in;

    &:hover {
      color: #ffffff;
    }
  }

  .ant-upload-drag {
    border: 1px dashed #ffffff;

    .anticon {
      color: #7700c1 !important;
    }

    .ant-upload-text {
      color: #ffffff !important;
    }

    .ant-upload-hint {
      color: #7d7d7d !important;
    }

    .custom-link {
      color: #c373fc;
      transition: 0.2s ease-in;

      &:hover {
        color: #a322ff;
      }
    }
  }

  .ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: #1d924c;
  }

  .ant-table {
    background: #090111;
    color: #ffffff;

    .ant-table-title {
      border-bottom: 1px solid #b0b0b0;
    }
  }

  .ant-table-thead>tr>th {
    background: #090111;
    color: #ffffff;
    border-bottom: 1px solid #b0b0b0;
  }

  .ant-table-tbody>tr>td {
    background: #090111;
    border: none;

    .ant-empty-description {
      color: #ffffff;
    }
  }

  .ant-table-placeholder:hover>td {
    background: #000000 !important;
  }

  .ant-upload-icon .anticon {
    color: #ffffff !important;
  }

  .ant-upload-list-item-name {
    color: #ffffff;
  }

  .ant-modal-header {
    background: #1d0136;

    .ant-modal-title {
      color: #ffffff;
    }
  }

  .ant-form-item-label>label {
    color: #ffffff;
  }

  .ant-input {
    background-color: #000000;
    border-color: #251a2f;
    color: #ffffff;

    &:focus {
      box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
    }
  }

  .ant-input-affix-wrapper {
    background-color: #090111;
    border-color: #251a2f;
    color: #ffffff;

    &:hover {
      border-color: #251a2f;
    }


    .ant-input-password-icon {
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
  }

  .ant-btn-primary {
    box-shadow: none;
    border: none;
    background-color: #1d924c;
    transition: 0.3s ease-in;
    font-size: 0.813rem;
    font-weight: 400;

    &:hover {
      background-color: #24b35d;
    }
  }

  .ant-btn-default {
    box-shadow: none;
    border: none;
    background-color: #390931;
    color: #f02a4f;
    transition: 0.3s ease-in;
    font-size: 0.813rem;
    font-weight: 400;

    &:hover {
      background-color: #f72b50;
      color: #ffffff;
    }
  }

  .ant-table-row:hover>td {
    background: #2f0157 !important;
  }

  .ant-upload-list-item-actions .anticon {
    color: #ff000d7a !important;

    &:hover {
      color: #ff0015 !important;
    }
  }

  .ant-pagination {
    .ant-pagination-item-active {
      border-color: #7700c1;
      background: #7700c1;

      a {
        color: #ffffff;
      }
    }

    .ant-pagination-item-link {
      color: #ffffff;
    }

    .ant-pagination-item a {
      color: #ffffff;
    }

    .ant-pagination-item-ellipsis {
      color: #ffffff;
    }

    .ant-select-selector {
      color: #ffffff;
      background: #7700c1;
      border: none;
    }

    .ant-select-arrow {
      color: #ffffff;
    }

    .ant-pagination-item-ellipsis {
      color: #ffffff !important;
    }

    .ant-pagination-item-link-icon {
      color: #aa00ff !important;
    }

    .ant-select-single .ant-select-selection-item {
      color: #ffffff;
    }

    .ant-select-dropdown {
      background: #7700c1;

      .ant-select-item {
        color: #ffffff;
      }

      .ant-select-item-option-selected {
        background: #000000;
        color: #ffffff;
      }
    }

  }

  .ant-input-number {
    border: 1px solid #251a2f;
    background-color: #000000;

    .ant-input-number-input {
      background-color: #000000;
      color: #ffffff;
    }
  }

  .ant-input-number-group-addon {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #251a2f;
  }

  .ant-select-selector {
    color: #ffffff;
    background-color: #000000 !important;
    border: 1px solid #251a2f !important;

    .ant-select-selection-placeholder {
      color: #a3a3a345;
    }
  }

  .ant-upload-select {
    color: #ffffff;
  }

  .ant-upload-list-item {
    border: 1px solid #382848 !important;
    background: #000000;
  }
}