.layout-admin {
  .admin-header {
    height: 80px;
    background: #1d0136;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .anticon-menu-fold {
      color: #ffffff;
    }

    .anticon-menu-unfold {
      color: #ffffff;
    }

    .ant-space-item {
      color: #ffffff;
    }
  }

  .ant-layout-sider {
    background: #1d0136;
  }

  .ant-menu-light {
    background: #1d0136;
    color: #ffffff;

    .ant-menu-item-selected {
      background: #7700c1;
      color: #ffffff;
    }
  }

  .ant-menu-item {
    color: #ffffff;

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-submenu-title {

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-item-icon {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-submenu-arrow {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-title-content {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-menu-submenu-title {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-layout-sider-trigger {
    background: #33065b;
  }

  .ant-layout-content {
    background: #090111;

    .manage-common {
      padding: 20px;
      border-radius: 20px;
      margin: 20px;

      .ant-col-24 {
        background: #1d0136;
        border-radius: 20px;
      }
      .ant-table {
        background: #1d0136;

        .ant-table-thead >tr>th {
          background: #1d0136;
          border: none;
        }

        .ant-table-tbody >tr >td {
          border-bottom: none;
        }
      }
    }
  }

  .ant-table-selection-column {
    background-color: #7700c1 !important;
  }


.ant-table-thead >tr>th:not(:last-child)::before {
    top: 100% !important;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #0ed525 !important;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
}



  footer.ant-layout-footer {
    background: #090111;
    color: #ffffff;
  }
}