:root {
  --background: #1d0136;
  --black: #000000;
  --white: #ffffff;
  --divider: #b0b0b0;
  --line: #382848;
  --yellow: #ffff00;
  --purple: #7700c1;
  --gray: #7d7d7d;

  --textLink: #c373fc;
  --textCancel: #f02a4f;
  --textDefault: #ffffff;

  --btnDelete: #362942;
  --btnCreate: #1d924c;
  --bntCancel: #390931;

  --hoverLink: #a322ff;
  --hoverCreate: #24b35d;
  --hoverCancel: #f72b50;
  --hoverDelete: #6e6e6e;

  --iconDelete: #850019;
  --deleteHover: #f90431;
  --iconEdit: #857c00;
  --editHover: #ffff00;
}

.layout-admin {
  .admin-header {
    height: 80px;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .anticon-menu-fold {
      color: var(--textDefault);
    }

    .anticon-menu-unfold {
      color: var(--textDefault);
    }

    .ant-space-item {
      color: var(--textDefault);
    }
  }

  .ant-layout-sider {
    background: var(--background);
  }

  .ant-menu-light {
    background: var(--background);
    color: var(--textDefault);

    .ant-menu-item-selected {
      background: #7700c1;
      color: var(--textDefault);
    }
  }

  .ant-menu-item {
    color: var(--textDefault);

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-submenu-title {

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-item-icon {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-submenu-arrow {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-title-content {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-menu-submenu-title {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-layout-sider-trigger {
    background: #33065b;
  }

  .ant-layout-content {
    background: #090111;

    .manage-common {
      border-radius: 20px;
      margin: 42px;

      .ant-col-24 {

        .ant-form-item-label>label {
          color: var(--textDefault);
        }

        .ant-input {
          background: #090111;
          border-color: #251a2f;
          color: var(--textDefault);

          &::placeholder {
            color: #7d7d7d;
          }

          &:focus {
            box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
          }
        }

        .ant-btn-primary {
          background: #7700c1;
          transition: 0.3s ease-in;
          box-shadow: none;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            background: #50006c;
          }
        }

        .ant-btn-default {
          box-shadow: none;
          border: none;
          background: var(--btnDelete);
          border-color: var(--textDefault);
          color: var(--textDefault);
          transition: 0.3s ease-in;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            background: var(--hoverDelete);
          }
        }

        .ant-btn-ghost {
          color: var(--textDefault);
          font-size: 16px;
        }

        .ant-btn-dashed {
          background: #1d924c;
          border-style: none;
          color: var(--textDefault);
          transition: 0.3s ease-in;
          font-size: 0.813rem;
          font-weight: 400;

          &:hover {
            color: var(--textDefault);
            background: #24b35d;
          }
        }
      }

      .ant-table {
        background: var(--background);
        margin: 10px;


        .ant-table-thead>tr>th {
          background: var(--background);
          border: none;
          color: var(--textDefault);
          font-size: 16px;
          font-weight: 600;
          border-bottom: 1px solid #463655;
        }

        .ant-table-tbody>tr>td {
          border-bottom: none;
        }

        .ant-table-thead>tr>th:not(:last-child)::before {
          background-color: var(--background);
        }

        .ant-table-column-sorter {
          color: var(--textDefault);
        }

        .ant-table-tbody>tr>td {
          color: var(--textDefault);
          background: var(--background);
        }

        .ant-table-row:hover>td {
          background: #2f0157;
        }

        .ant-table-column-sorter-up.active {
          color: #7700c1;
        }

        .ant-table-column-sorter-down.active {
          color: #7700c1;
        }
      }

      .ant-pagination-total-text {
        color: var(--textDefault);
      }

      .ant-pagination-item-active {
        border-color: #7700c1;
        background: #7700c1;

        a {
          color: var(--textDefault);
        }
      }

      .ant-pagination-item-link {
        color: var(--textDefault);
      }

      .ant-pagination-item a {
        color: var(--textDefault);
      }

      .ant-pagination-item-ellipsis {
        color: var(--textDefault);
      }

      .ant-select-selector {
        color: var(--textDefault);
        background: #7700c1;
        border: none;
      }

      .ant-select-arrow {
        color: var(--textDefault);
      }
    }
  }

  .ant-select-single .ant-select-selection-item {
    color: var(--textDefault);
  }

  .ant-select-dropdown {
    background: #7700c1;

    .ant-select-item {
      color: var(--textDefault);
    }

    .ant-select-item-option-selected {
      background: #000000;
      color: var(--textDefault);
    }
  }

  .ant-empty-description {
    color: var(--textDefault);
    font-weight: 600;
  }

  .custom-input-search {
    background: var(--background);
    border-radius: 20px;
  }

  .custom-table-list {
    width: 100vw;
    border-radius: 20px;
    margin: 20px 10px 0 10px;
    background: var(--background);

    .custom-header-table {
      display: flex;
      justify-content: space-between;
      color: var(--textDefault);
      font-size: 1.25rem;
      font-weight: 500;

      .header-table-button {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }

    .custom-pagination-table {
      padding: 10px;
    }

    .custom-link {
      color: var(--textLink);
      transition: 0.2s ease-in;

      &:hover {
        color: var(--hoverLink);
      }
    }

    .custom-icon-edit {
      color: var(--iconEdit);
      transition: 0.2s ease-in;

      &:hover {
        color: var(--editHover);
      }
    }

    .custom-icon-delete {
      color: var(--iconDelete);
      transition: 0.2s ease-in;

      &:hover {
        color: var(--deleteHover);
      }
    }
  }

  footer.ant-layout-footer {
    background: #090111;
    color: var(--textDefault);
  }
}

// out side
.ant-drawer-wrapper-body {
  background: var(--background);

  .ant-drawer-header {
    border-bottom: 1px solid var(--divider);

    .ant-drawer-close {
      color: var(--textDefault);
    }

    .ant-drawer-title {
      color: var(--textDefault);
    }
  }

  .ant-divider-with-text {
    color: var(--textDefault);
    border-block-start: 0 var(--textDefault);
    margin: 24px 0;
  }

  .ant-descriptions-title {
    color: var(--textDefault);
  }

  .ant-descriptions-view {
    border: 1px solid var(--line) !important;

    .ant-descriptions-row {
      border-bottom: 1px solid var(--line);

      .ant-descriptions-item-label {
        color: var(--textDefault);
        background-color: #00000017;
      }

      .ant-descriptions-item-content {
        color: var(--textDefault);
        border-inline-end: 1px solid var(--line);

        .ant-badge-status-text {
          color: #ffff00;
        }
      }
    }
  }
}

//modal import user
.ant-modal-content {
  background-color: var(--background) !important;

  .ant-modal-close {
    color: var(--gray);
    transition: 0.2s ease-in;

    &:hover {
      color: var(--textDefault);
    }
  }

  .ant-upload-drag {
    border: 1px dashed var(--white);

    .anticon {
      color: var(--purple) !important;
    }

    .ant-upload-text {
      color: var(--textDefault) !important;
    }

    .ant-upload-hint {
      color: var(--gray) !important;
    }

    .custom-link {
      color: var(--textLink);
      transition: 0.2s ease-in;

      &:hover {
        color: var(--hoverLink);
      }
    }
  }

  .ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: var(--btnCreate);
  }

  .ant-table {
    background: #090111;
    color: var(--textDefault);

    .ant-table-title {
      border-bottom: 1px solid var(--divider);
    }
  }

  .ant-table-thead>tr>th {
    background: #090111;
    color: var(--textDefault);
    border-bottom: 1px solid var(--divider);
  }

  .ant-table-tbody>tr>td {
    background: #090111;
    border: none;

    .ant-empty-description {
      color: var(--textDefault);
    }
  }

  .ant-table-placeholder:hover>td {
    background: var(--black) !important;
  }

  .ant-upload-icon .anticon {
    color: var(--textDefault) !important;
  }

  .ant-upload-list-item-name {
    color: var(--textDefault);
  }

  .ant-modal-header {
    background: var(--background);

    .ant-modal-title {
      color: var(--textDefault);
    }
  }

  .ant-form-item-label>label {
    color: var(--textDefault);
  }

  .ant-input {
    background-color: var(--background);
    border-color: #251a2f;
    color: var(--textDefault);

    &:focus {
      box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
    }
  }

  .ant-input-affix-wrapper {
    background-color: #090111;
    border-color: #251a2f;
    color: var(--textDefault);

    &:hover {
      border-color: #251a2f;
    }


    .ant-input-password-icon {
      color: var(--textDefault);

      &:hover {
        color: var(--textDefault);
      }
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
  }

  .ant-btn-primary {
    box-shadow: none;
    border: none;
    background-color: var(--btnCreate);
    transition: 0.3s ease-in;
    font-size: 0.813rem;
    font-weight: 400;

    &:hover {
      background-color: var(--hoverCreate);
    }
  }

  .ant-btn-default {
    box-shadow: none;
    border: none;
    background-color: var(--bntCancel);
    color: var(--textCancel);
    transition: 0.3s ease-in;
    font-size: 0.813rem;
    font-weight: 400;

    &:hover {
      background-color: var(--hoverCancel);
      color: var(--textDefault);
    }
  }
}