.layout-admin {
  .admin-header {
    height: 80px;
    background: #1d0136;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .anticon-menu-fold {
      color: #ffffff;
    }

    .anticon-menu-unfold {
      color: #ffffff;
    }

    .ant-space-item {
      color: #ffffff;
    }
  }

  .ant-layout-sider {
    background: #1d0136;
  }

  .ant-menu-light {
    background: #1d0136;
    color: #ffffff;

    .ant-menu-item-selected {
      background: #7700c1;
      color: #ffffff;
    }
  }

  .ant-menu-item {
    color: #ffffff;

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-submenu-title {

    &:hover {
      color: #ffff00 !important;
    }
  }

  .ant-menu-item-icon {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-submenu-arrow {
    filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1.0));
  }

  .ant-menu-title-content {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-menu-submenu-title {
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 1.0);
  }

  .ant-layout-sider-trigger {
    background: #33065b;
  }

  .ant-layout-content {
    background: #090111;

    .manage-common {
      border-radius: 20px;
      margin: 42px;

      .ant-col-24 {
        background: #1d0136;
        border-radius: 20px;

        .ant-form-item-label>label {
          color: #ffffff;
        }

        .ant-input {
          background: #090111;
          border: none;
          color: #ffffff;

          &::placeholder {
            color: #7d7d7d;
          }

          &:focus {
            box-shadow: 0 0 0 2px rgb(147 0 255 / 10%);
            ;
          }
        }

        .ant-btn-primary {
          background: #7700c1;
          transition: 0.3s ease-in;
          box-shadow: none;

          &:hover {
            background: #50006c;
          }
        }

        .ant-btn-default {
          box-shadow: none;
          border-color: #ffffff;
          transition: 0.3s ease-in;

          &:hover {
            color: #000000;
            background: #c6c6c6;
          }
        }

        .ant-btn-ghost {
          color: #ffffff;
          font-size: 16px;
        }

        .ant-btn-dashed {
          background: #1d924c;
          border-style: none;
          color: #ffffff;
          transition: 0.3s ease-in;

          &:hover {
            color: #ffffff;
            background: #24b35d;
          }
        }
      }

      .ant-table {
        background: #1d0136;

        .ant-table-thead>tr>th {
          background: #1d0136;
          border: none;
          color: #ffffff;
        }

        .ant-table-tbody>tr>td {
          border-bottom: none;
        }

        .ant-table-thead>tr>th:not(:last-child)::before {
          background-color: #1d0136;
        }

        .ant-table-column-sorter {
          color: #ffffff;
        }

        .ant-table-tbody>tr>td {
          color: #ffffff;
          background: #1d0136;
        }

        .ant-table-row:hover>td {
          background: #2f0157;
        }

        .ant-table-column-sorter-up.active {
          color: #7700c1;
        }

        .ant-table-column-sorter-down.active {
          color: #7700c1;
        }


      }

      .ant-pagination-total-text {
        color: #ffffff;
      }

      .ant-pagination-item-active {
        border-color: #7700c1;
        background: #7700c1;

        a {
          color: #ffffff;
        }
      }

      .ant-pagination-item-link {
        color: #ffffff;
      }

      .ant-pagination-item a {
        color: #ffffff;
      }

      .ant-pagination-item-ellipsis {
        color: #ffffff;
      }

      .ant-select-selector {
        color: #ffffff;
        background: #7700c1;
        border: none;
      }

      .ant-select-arrow {
        color: #ffffff;
      }
    }
  }

  .ant-table-selection-column {
    background-color: #7700c1 !important;
  }

  .custom-header-table {
    display: flex;
    justify-content: space-between;
    color: #ffffff;

    .header-table-button {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }

  .custom-link {
    color: #c373fc;
    transition: 0.2s ease-in;

    &:hover {
      color: #a322ff;
    }
  }

  footer.ant-layout-footer {
    background: #090111;
    color: #ffffff;
  }
}